<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('BugTracker')->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
                        ->prependStylesheet($this->basePath() . '/css/style.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap-theme.min.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css') ?>

        <!-- Scripts -->
        <?php echo $this->headScript()
            ->prependFile($this->basePath() . '/js/bootstrap.min.js')
            ->prependFile($this->basePath() . '/js/jquery.min.js')
            ->prependFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
            ->prependFile($this->basePath() . '/js/html5shiv.js',   'text/javascript', array('conditional' => 'lt IE 9',))
        ; ?>

    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?php echo $this->url('home') ?>">BugTracker</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="<?php echo $this->url('dashboard') ?>"><?php echo $this->translate('Tasks') ?></a></li>
                    </ul>
                    <?php if($this->zfcUserIdentity()){?>
                        <ul class="nav pull-right">
                            <li>
                                <div class="btn-group" style="margin-top: 10px">
                                    <button type="button" class="btn btn-sm btn-info">
                                        <span style="float: left;margin: 0px 5px 0 0;"><?php echo $this->gravatar($this->zfcUserIdentity()->getEmail(), array('img_size' => 20)) ?></span>
                                        <?php echo $this->zfcUserIdentity()->getEmail(); ?>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-info dropdown-toggle" data-toggle="dropdown" style="line-height: 20px">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="<?php echo $this->url('zfcuser/logout') ?>"><i class="i"></i> <?php echo $this->translate('Exit') ?></a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    <?php } else { ?>
                        <form action="<?php echo $this->url('zfcuser/login') ?>" method="post" class="navbar-form navbar-right" role="form">
                            <div class="form-group">
                                <input type="text" name="identity" placeholder="Email" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="password" name="credential" placeholder="Password" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-success">Sign in</button>
                        </form>
                    <?php }?>
                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>
        <div class="container">
            <?php echo $this->content; ?>
            <hr>
            <footer>
                <p>&copy; <?php echo date('Y') ?> by Webdevlab Ltd. <?php echo $this->translate('All rights reserved.') ?></p>
            </footer>
        </div> <!-- /container -->
        <?php echo $this->inlineScript() ?>
    </body>
</html>
