<div class="jumbotron">
    <h1><?php echo 'Welcome to BugTracker!'; ?></h1>
    <p>Please, <a href="<?php echo $this->url('zfcuser/login') ?>">sign in</a> or register for using our BugTracker</p>
    <p><a class="btn btn-success btn-lg" href="<?php echo $this->url('zfcuser/register') ?>">Register &raquo;</a></p>
</div>


